<form method = "post" action = "formHandler">
    <lable>Enter a title </lable><br>
    <input type = "text" name = "title" placeholder = "Enter a title"><br>
    <label>Enter a Paragraph</label> <br>
    <textarea name = "paragraph" id = "paragraph" col = "80" rows = "10"></textarea><br>
    <input type = "submit" value = "Post something">
</form>